<!-- to connecting the layout -->
<%layout('layouts/boilerplate')%>
<!-- Edit -->
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      class="validated-form"
      action="/campgrounds/<%=camp._id%>?_method=PUT"
      method="POST"
      novalidate
    >
      <!--give an method override to overwrite the value -->
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%=camp.title%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%=camp.location%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
          value="<%=camp.image%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <!-- Price -->
      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            name="campground[price]"
            value="<%=camp.price%>"
            aria-label="Amount (to the nearest dollar)"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>

      <!-- description -->
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        >
<%=camp.description%></textarea
        >
        <div class="valid-feedback">Looks good!</div>
        <!-- speciall to text area didnt use value but value on inner -->
      </div>

      <!-- name digunakan untuk mengacu satu data dalam JSON jika sama2 campground
            maka akan dikelompokkan jadi satu data campground yang objectnya berisi
            title dan location -->
      <button class="btn btn-success">Save Changes</button>
    </form>
    <a href="/campgrounds/<%=camp._id%>">Back to campground</a>
  </div>
</div>
