<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=camp.title %></title>
  </head>
  <body>
    <h1>Show details</h1>
    <ul>
      <li>The title: <%=camp.title %></li>
      <li>The location: <%=camp.location %></li>
    </ul>
    <a href="/campgrounds/<%=camp._id%>/edit">Edit Campground</a>
    <a href="/campgrounds">Back to All list</a>
    <p>
      <form action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
      <button>DELETE</button>
      </form>
    </p>
  </body>
</html>
