<!-- to connecting the layout -->
<%layout('layouts/boilerplate')%>
      <h1><%=camp.title %></h1>
      <h5 class="text-muted"><%=camp.location %></h5>
      <h4>Price: $<%=camp.price %></h4>
    <img src="<%=camp.image%>" alt="">
    <p><%=camp.description%></p>
    <a class="btn btn-info" href="/campgrounds/<%=camp._id%>/edit">Edit Campground</a>
    <a class="btn btn-success" href="/campgrounds">Back to All list</a>
    <p>
      <form action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
      <button class="btn btn-danger">DELETE</button>
      </form>
    </p>
